.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  color: var(--neutralContent);
  font-family: 'Play', sans-serif;
  padding: 24px;
  padding-bottom: 32px;
  background-color: var(--neutral);
  margin: auto;
  width: fit-content;
}

.header {
  font-size: 1.25rem;
  font-weight: 600;
}