.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: end;
  width: 100%;
  height: 100%;
}

.calendarDiv {
  display: flex;
  flex-direction: column;
  gap: 16px;
  opacity: 70%;
  width: 100%;
  height: 100%;
  box-shadow: 8px 8px 4px rgba(0, 0, 0, .2);
}

.legendDiv {
  margin: auto;
  height: fit-content;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, .2);
}