.btn {
  color: var(--warning);
  font-family: 'Play', sans-serif;
  text-transform: uppercase;
  padding: 8px 12px;
  width: fit-content;
}

.btn:hover {
  color: var(--neutral);
  background-color: var(--warning);
}