.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: start;
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
}

.container th {
  color: var(--warning);
  font-family: 'Play', sans-serif;
}

.container th:first-of-type {
  color: var(--neutralContent);
  text-align: center;
}