.header {
  color: var(--color-neutral-content);
  font-family: 'Shrikhand', serif;
  font-size: 2rem;
  padding: 24px 0;
  text-align: center;

  @media (min-width: 1920px) { /* Desktop */ 
    font-size: 2.5rem;
    padding: 32px 0;
  }
}

.sitesTable {
  height: 100%;
  overflow-y: scroll;
}

.mapDiv {
  position: relative;
  display: flex;
  width: 100%;
  height: 80vh;
  overflow: hidden;
  border-radius: 12px;
  background-color: transparent;
  box-shadow: 8px 8px 4px rgba(0, 0, 0, .1);
  touch-action: none;
  animation: fade-in-left 250ms linear;

  @media (min-width: 1920px) { /* Desktop */ 
    height: 70vh;
  }
}